
AutoDrawer Program/.vs/AutoDrawer/project-colors.json
AutoDrawer Program/.vs/AutoDrawer/v16/.suo
AutoDrawer Program/.vs/AutoDrawer/v17/.suo
AutoDrawer Program/bin/
AutoDrawer Program/obj/Debug/AutoDrawer.csproj.FileListAbsolute.txt
AutoDrawer Program/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoDrawer Program/obj/Debug/AutoDrawer_MarkupCompile.i.cache
AutoDrawer Program/obj/Debug/AutoDrawer_MarkupCompile.i.lref
AutoDrawer Program/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoDrawer Program/obj/Debug/AutoDrawer_MarkupCompile.i.cache
AutoDrawer Program/.vs/AutoDrawer/v16/.suo
AutoDrawer Program/obj/Debug/AutoDrawer.exe.manifest
AutoDrawer Program/obj/Debug/AutoDrawer.g.resources
AutoDrawer Program/obj/Debug/AutoDrawer.pdb
AutoDrawer Program/obj/Debug/AutoDrawer.application
AutoDrawer_v2/AutoDrawer/AutoDrawer.pro.user
AutoDrawer Program/obj/Debug/ConsoleWindow.baml
AutoDrawer_v2/build-AutoDrawer-Desktop-Debug/
AutoDrawer_v2/build-AutoDrawer-Desktop-Release/
AutoDrawer_v2/build-AutoDrawer-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/
AutoDrawer_v2/build-AutoDrawer-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/
AutoDrawer_v2/build-AutoDrawer-Desktop*/
# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
