
AutoDrawer/.vs/AutoDrawer/project-colors.json
AutoDrawer/.vs/AutoDrawer/v16/.suo
AutoDrawer/.vs/AutoDrawer/v17/.suo
AutoDrawer/bin/
AutoDrawer Program/obj/Debug/AutoDrawer.csproj.FileListAbsolute.txt
